In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [15]:
spark = SparkSession.builder.remote("sc://localhost:15002").getOrCreate()

In [24]:
data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])

In [25]:
data

[('James', '', 'Smith', '36636', 'M', 3000),
 ('Michael', 'Rose', '', '40288', 'M', 4000),
 ('Robert', '', 'Williams', '42114', 'M', 4000),
 ('Maria', 'Anne', 'Jones', '39192', 'F', 4000),
 ('Jen', 'Mary', 'Brown', '', 'F', -1)]

In [26]:
df = spark.createDataFrame(data=data, schema=schema)
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [28]:
df.writeTo("db.test").create()

In [29]:
table = spark.table("db.test")

In [30]:
table.show()

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36636|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
|   Robert|          |Williams|42114|     M|  4000|
|    Maria|      Anne|   Jones|39192|     F|  4000|
|      Jen|      Mary|   Brown|     |     F|    -1|
+---------+----------+--------+-----+------+------+

In [34]:
df = spark.read.csv("/opt/spark/data/water-quality-1.csv",header=True)

In [35]:
df

DataFrame[Sample ID: string, Grab ID: string, Profile ID: string, Sample Number: string, Collect DateTime: string, Depth (m): string, Site Type: string, Area: string, Locator: string, Site: string, Parameter: string, Value: string, Units: string, QualityId: string, Lab Qualifier: string, MDL: string, RDL: string, Text Value: string, Sample Info: string, Steward Note: string, Replicates: string, Replicate Of: string, Method: string, Date Analyzed: string, Data Source: string]

In [36]:
df.writeTo("db.water").create()

In [38]:
table = spark.table("db.water")

In [39]:
table.show()

+---------+-------+----------+-------------+--------------------+---------+------------------+--------------------+--------+--------------------+--------------------+-------+--------+---------+-------------+------+-----+--------------------+-----------+------------+----------+------------+--------------------+-------------+-----------+
|Sample ID|Grab ID|Profile ID|Sample Number|    Collect DateTime|Depth (m)|         Site Type|                Area| Locator|                Site|           Parameter|  Value|   Units|QualityId|Lab Qualifier|   MDL|  RDL|          Text Value|Sample Info|Steward Note|Replicates|Replicate Of|              Method|Date Analyzed|Data Source|
+---------+-------+----------+-------------+--------------------+---------+------------------+--------------------+--------+--------------------+--------------------+-------+--------+---------+-------------+------+-----+--------------------+-----------+------------+----------+------------+--------------------+-------------+-----------+
|    16316|  16316|     10702|      9209019|04/13/1992 12:00:...|     1.00|Streams and Rivers|              Pipers|  KSHZ06|  Pipers Creek mouth|    Total Phosphorus|   0.07|    mg/L|        2|         NULL|  NULL| NULL|.070||King County...|       NULL|        NULL|      NULL|        NULL|                none|         NULL|       KCEL|
|     8937|   8937|     37688|      7915489|06/20/1979 12:00:...|     1.00|Streams and Rivers|               Crisp|    0321|Crisp Creek mouth...|Nitrite + Nitrate...|  0.727|    mg/L|        2|         NULL|  NULL| NULL|.727||King County...|       NULL|        NULL|      NULL|        NULL|                NULL|         NULL|       KCEL|
|   137745| 137745|     54368|     L58228-1|06/25/2013 08:09:...|     1.00|       Large Lakes|Lake Union/Ship C...|    0512|Ship Canal above ...|         Temperature|   18.9|   deg C|        2|         NULL|  NULL| NULL|                NULL|       NULL|        NULL|      NULL|        NULL|            HYDROLAB|   06/25/2013|       KCEL|
|   131816| 131816|     50605|     L55068-6|02/13/2012 09:38:...|     1.00|       Large Lakes|Lake Union/Ship C...|    0540|Ship Canal near M...|Orthophosphate Ph...|0.00724|    mg/L|        2|         NULL| 0.002|0.005|                NULL|       NULL|        NULL|      NULL|        NULL|          SM4500-P-F|   02/15/2012|       KCEL|
|    82325|  82325|     43896|    L52933-87|03/30/2011 02:36:...|     4.20|       Large Lakes|     Lake Washington|    0804|Lake Washington n...|         Temperature|   8.94|   deg C|        2|         NULL|  NULL| NULL|                NULL|       NULL|        NULL|      NULL|        NULL|            HYDROLAB|         NULL|       KCEL|
|    60091|  60091|     42106|    L29749-54|09/02/2003 01:44:...|     1.00|       Large Lakes|     Lake Washington|    0852|Lake Washington M...|         Temperature|   21.9|   deg C|        2|         NULL|  NULL| NULL|                NULL|       NULL|        NULL|      NULL|        NULL|                NULL|         NULL|       KCEL|
|   156539|   NULL|     68254|     L70197-1|06/12/2018 08:55:...|     NULL|Streams and Rivers|            Idylwood|    A620|Idylwood Creek mo...|Orthophosphate Ph...| 0.0832|    mg/L|        2|         NULL|0.0005|0.002|                NULL|       NULL|        NULL|      NULL|        NULL|          SM4500-P-F|   06/14/2018|       KCEL|
|    64045|  64045|     41210|    L47565-69|03/09/2009 12:50:...|    18.00|       Large Lakes|     Lake Washington|    0852|Lake Washington M...| Conductivity  Field|   97.3|umhos/cm|        2|         NULL|   0.5|   10|                NULL|       NULL|        NULL|      NULL|        NULL|HYDROLAB (SOP 205V4)|         NULL|       KCEL|
|    41265|  41265|     40681|    L48174-26|05/27/2009 10:18:...|     1.00|       Large Lakes|      Lake Sammamish|    0611|Lake Sammamish mi...| Conductivity  Field|    104|umhos/cm|        2|         NULL|   0.5|   10|                NULL|       NULL|        NULL|      NULL|        NULL|            HYDROLAB|         NULL|       KCEL|
|    22772|   NULL|     19978|     L19003-1|10/12/2000 09:42:...|     NULL|Streams and Rivers|          Longfellow|    C370|Longfellow Creek ...|  Storm Or Non-Storm|   NULL|    none|        2|         NULL|  NULL| NULL|                   N|       NULL|        NULL|      NULL|        NULL|                NONE|         NULL|       KCEL|
|   138115| 138115|     54349|    L13491-13|06/02/1998 03:57:...|     1.00|       Large Lakes|Lake Union/Ship C...|    0512|Ship Canal above ...|        Conductivity|    147|umhos/cm|        2|         NULL|   0.5|    1|                NULL|       NULL|        NULL|      NULL|        NULL|            SM2510-B|   06/03/1998|       KCEL|
|    18933|   NULL|     35637|     L15912-7|07/13/1999 10:47:...|     NULL|Streams and Rivers|               Green|    0311|Green River at In...|Nitrite + Nitrate...|  0.279|    mg/L|        2|         NULL|  0.02| 0.04|                NULL|       NULL|        NULL|      NULL|        NULL|SM4500-NO3-F (03-...|   07/13/1999|       KCEL|
|    48030|  48030|     42339|    L26554-13|12/03/2002 11:31:...|    25.00|       Large Lakes|      Lake Sammamish|    0612|Lake Sammamish mi...|    Ammonia Nitrogen| 0.0335|    mg/L|        2|         NULL|  0.01| 0.02|                NULL|       NULL|        NULL|      NULL|        NULL|SM4500-NH3-G (03-...|   12/04/2002|       KCEL|
|   120825| 120825|     49846|    L28114-37|05/05/2003 12:44:...|    20.60|       Large Lakes|     Lake Washington|    0831|Lake Washington m...|      Total Nitrogen|   0.27|    mg/L|        2|         NULL|  0.05|  0.1|                NULL|       NULL|        NULL|      NULL|        NULL|SM4500-N-C (03-03...|   05/13/2003|       KCEL|
|   137614| 137614|     54604|     L55526-1|04/23/2012 08:04:...|     1.00|       Large Lakes|Lake Union/Ship C...|    0512|Ship Canal above ...|     Sampling Method|   NULL|    none|        2|         NULL|  NULL| NULL|60201  90151  100...|       NULL|        NULL|      NULL|        NULL|                NONE|         NULL|       KCEL|
|    44626|  44626|     40949|    L65242-37|04/12/2016 10:57:...|    17.20|       Large Lakes|      Lake Sammamish|    0611|Lake Sammamish mi...|Dissolved Oxygen ...|    9.9|    mg/L|        2|         NULL|   0.5|    1|                NULL|       NULL|        NULL|      NULL|        NULL|       KCEL SOP# 245|   04/12/2016|       KCEL|
|   158509|   NULL|     68745|     L71093-8|10/15/2018 09:55:...|     NULL|Streams and Rivers|     Patterson Creek|PATTER_3|Patterson Creek m...|Orthophosphate Ph...|  0.028|    mg/L|        2|         NULL|0.0005|0.002|                NULL|       NULL|        NULL|      NULL|        NULL|          SM4500-P-F|   10/16/2018|       KCEL|
|   161314| 161314|     69589|   L72081-120|03/25/2019 12:59:...|    25.00|       Large Lakes|     Lake Washington|    0831|Lake Washington m...|       BGA PC  Field|   NULL|    ug/L|        1|         <MDL|   0.5|    1|                NULL|       NULL|        NULL|      NULL|        NULL|       KCEL SOP# 245|   03/25/2019|       KCEL|
|    96717|  96717|     45073|    L28764-40|07/08/2003 10:19:...|     8.00|       Large Lakes|      Lake Sammamish|    0614|Lake Sammamish ne...|           pH  Field|    7.4|      pH|        2|         NULL|  NULL| NULL|                NULL|       NULL|        NULL|      NULL|        NULL|Hydrolab (02-01-0...|         NULL|       KCEL|
|    69689|  69689|     41318|    L63507-87|07/29/2015 12:30:...|    35.00|       Large Lakes|     Lake Washington|    0852|Lake Washington M...|           pH  Field|    7.2|      pH|        2|         NULL|  NULL| NULL|                NULL|       NULL|        NULL|      NULL|        NULL|       KCEL SOP# 245|   07/29/2015|       KCEL|
+---------+-------+----------+-------------+--------------------+---------+------------------+--------------------+--------+--------------------+--------------------+-------+--------+---------+-------------+------+-----+--------------------+-----------+------------+----------+------------+--------------------+-------------+-----------+
only showing top 20 rows